<section class="content-header">
    <h1>
        商品列表
    </h1>
</section>
<section class="content" ng-controller="ProductCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><a type="button" ui-sref="index.productEdit" class="btn btn-block btn-primary">添加商品信息</a></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="productTable" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>序号</th>
                                <th>SKU</th>
                                <th>ASIN</th>
                                <th>图片</th>
                                <th>描述</th>
                                <th>国内库存</th>
                                <th>亚马逊库存</th>
                                <!--<th>操作</th>-->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in products"table-repeat-directive>
                                <td>{{ $index + 1 }}</td>
                                <td><a ui-sref="index.productDetail({productId: p.id})">{{ p.SellerSKU }}</a></td>
                                <td>{{ p.ASIN }}</td>
                                <td><img src="{{ host }}{{ p.Image }}"></td>
                                <td style="max-width: 100px;">{{ p.TitleCn }}</td>
                                <td>{{ p.domestic_inventory }}</td>
                                <td>{{ p.amazon_inventory }}</td>
                                <!--<td>-->
                                    <!--<a title="添加入库货件（至上海）" ng-click="openSupplyModal(p.id);"><i class="fa fa-plus"></i></a>-->
                                <!--</td>-->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>
<script>
    $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>