
<section class="content-header">
    <h1>
        添加商品
    </h1>
</section>
<section class="content" ng-controller="ProductEditCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加商品信息</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >SKU</label>
                                <input type="text" class="form-control" placeholder="卖家SKU" ng-model="formData.SellerSKU">
                            </div>
                            <!--<div class="form-group col-sm-3 col-xs-6">-->
                                <!--<label>FNSKU</label>-->
                                <!--<input type="text" class="form-control" placeholder="FNSKU" ng-model="formData.FNSKU" >-->
                            <!--</div>-->
                            <div class="form-group col-sm-3 col-xs-6">
                                <label>ASIN</label>
                                <input type="text" class="form-control" placeholder="ASIN" ng-model="formData.ASIN" >
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label>图片</label>
                                <input type="file" placeholder="选择商品图片" accept="image/*" name="images"
                                       onchange="angular.element(this).scope().img_upload(this.files)" style="width: 75px;">
                                <input type="text" ng-model="formData.Image" hidden>
                                <img ng-show="productIcon" src="{{ productIcon }}" style="height: 70px; position: absolute;top: 0px;left: 90px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6 col-xs-6">
                                <label>商品描述</label>
                                <input type="text" class="form-control" placeholder="请输入商品描述" ng-model="formData.TitleCn" >
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>商品规格</label>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">长度</span><input type="text" class="form-control" ng-model="formData.length"required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">宽度</span><input type="text" class="form-control" ng-model="formData.width" required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">高度</span><input type="text" class="form-control" ng-model="formData.height" required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">重量</span><input type="text" class="form-control" ng-model="formData.weight" required>
                                        <span class="label-right">kg</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>商品包装规格</label>
                                <div class="row">
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">长度</span><input type="text" class="form-control" ng-model="formData.package_length"required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">宽度</span><input type="text" class="form-control" ng-model="formData.package_width" required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">高度</span><input type="text" class="form-control" ng-model="formData.package_height" required>
                                        <span class="label-right">cm</span>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3 input-horizontal">
                                        <span class="label-left">重量</span><input type="text" class="form-control" ng-model="formData.package_weight" required>
                                        <span class="label-right">kg</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="submitForm();">保存</button>
                    </div>
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="col-md-12" ng-show="isDetail">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border" ng-click="showSupplies=!showSupplies">
                <h3 class="box-title">入库货件（至上海）</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-show="showSupplies">
                <table id="inboundShipements" class="table table-bordered table-hover">
                    <tr>
                        <th>序号</th>
                        <th>日期</th>
                        <th>商品数量</th>
                        <th>商品单价</th>
                        <th>运费总结</th>
                        <th>杂费</th>
                        <th>杂费说明</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in inbounds"table-repeat-directive>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ p.ship_date }}</td>
                        <td>{{ p.count }}</td>
                        <td>{{ p.unit_price }}</td>
                        <td>{{ p.total_freight}}</td>
                        <td>{{ p.charges }}</td>
                        <td>{{ p.charges_comment }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-12" ng-show="isDetail">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border" ng-click="showShipments=!showShipments">
                <h3 class="box-title">移库货件（至亚马逊）</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" ng-show="showShipments">
                <table id="outboundShipements" class="table table-bordered table-hover">
                    <tr>
                        <th>序号</th>
                        <th>日期</th>
                        <th>商品单价</th>
                        <th>商品数量</th>
                        <th>运费总结</th>
                        <th>杂费</th>
                        <th>杂费说明</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in inbounds"table-repeat-directive>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ p.ship_date }}</td>
                        <td>{{ p.count }}</td>
                        <td>{{ p.unit_price }}</td>
                        <td>{{ p.total_freight}}</td>
                        <td>{{ p.charges }}</td>
                        <td>{{ p.charges_comment }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!--<div ng-include="'templates/product/product_orders.html'" ng-controller="ProductOrdersCtrl"></div>-->
    <div class="row" style="text-align: center;" ng-show="isDetail">
        <label>结算周期</label>
        <div class="form-group" style="width: 200px;display: inline-block">
            <select class="form-control" ng-model="selectedSettlement" id="settlementSelection">
                <option ng-repeat="s in settlements" value="{{ s.id }}">{{ s.StartDate}} - {{ s.EndDate }}</option>
            </select>
        </div>
    </div>
    <div ui-view ng-show="isDetail"></div>
</section>