<div ng-controller="ProductOrdersCtrl">
    <div class="col-md-12">
        <div class="box-header with-border">
            <h3 class="box-title">结算周期（{{settlement.StartDate}} ~ {{settlement.EndDate}}）</h3>
        </div>
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border" onclick="$(this).next().toggle()">
                    <h3 class="box-title">所有订单（{{ orders.length }}）</h3>
                    <i class="fa fa-refresh fa-spin" ng-if="orderLoading"></i>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="display: none;">
                    <table id="orderTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>订单号</th>
                            <th class="td-sale">数量</th>
                            <th class="td-sale">单价({{ currency }})</th>
                            <th class="td-sale">实收金额({{ currency }})</th>
                            <th class="td-cost">单位成本({{ currency }})</th>
                            <th class="td-cost">订阅费({{currency}})</th>
                            <th class="td-cost">总成本({{currency}})</th>
                            <th>利润({{currency}})</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in orders"table-repeat-directive>
                            <td>{{ o.PostedDate }}</td>
                            <td>{{ o.AmazonOrderId}}</td>
                            <td class="td-sale">{{ o.Quantity }}</td>
                            <td class="td-sale"> {{ o.UnitPrice }}</td>
                            <td class="td-sale">{{ o.amount }}</td>
                            <td class="td-cost"> {{ o.cost }}</td>
                            <td class="td-cost">{{o.subscription_fee}}</td>
                            <td class="td-cost">{{o.total_cost}}</td>
                            <td> {{ o.profit }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>  <!-- order table -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border" onclick="$(this).next().toggle()">
                    <h3 class="box-title">退货（{{ refunds.length }}）</h3>
                    <i class="fa fa-refresh fa-spin" ng-if="refundLoading"></i>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="refundTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>订单号</th>
                            <th class="td-sale">数量</th>
                            <th class="td-sale">退款金额({{ currency }})</th>
                            <th class="td-cost">单位成本({{ currency }})</th>
                            <th class="td-cost">利润({{ currency }})</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in refunds"table-repeat-directive>
                            <td>{{ o.PostedDate }}</td>
                            <td>{{ o.AmazonOrderId}}</td>
                            <td class="td-sale">{{ o.quantity }}</td>
                            <td class="td-sale"> {{ o.amount }}</td>
                            <td class="td-cost"> {{ o.cost }}</td>
                            <td class="td-cost">{{ o.profit }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>  <!-- refund table -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border" onclick="$(this).next().toggle()">
                    <h3 class="box-title">弃置/移除（{{ removals.length }}）</h3>
                    <i class="fa fa-refresh fa-spin" ng-if="removalLoading"></i>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--<input type="file" file-model="fileToUpload" accept="text/plain" placeholder="上传移除报告">-->
                    <table id="removalTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>订单号</th>
                            <th>原因</th>
                            <th class="td-sale">数量</th>
                            <th class="td-sale">弃置费({{ currency }})</th>
                            <th class="td-cost">单位成本({{ currency }})</th>
                            <th class="td-cost">利润({{ currency }})</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in removals"table-repeat-directive>
                            <td>{{ o.UpdateDate }}</td>
                            <td>{{ o.OrderId}}</td>
                            <td>{{ o.OrderType }}-{{o.Disposition}}</td>
                            <td class="td-sale">{{ o.Quantity }}</td>
                            <td class="td-sale"> {{ o.Fee }}</td>
                            <td class="td-cost"> {{ o.cost }}</td>
                            <td class="td-cost">{{ o.profit }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>  <!-- removal table -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border" onclick="$(this).next().toggle()">
                    <h3 class="box-title">赔偿（{{ losts.length }}）</h3>
                    <i class="fa fa-refresh fa-spin" ng-if="lostLoading"></i>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="lostTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>订单号</th>
                            <th>赔偿编号</th>
                            <th>原因</th>
                            <th class="td-sale">数量</th>
                            <th class="td-sale">赔偿费用({{ currency }})</th>
                            <th class="td-cost">单位成本({{ currency }})</th>
                            <th class="td-cost">利润({{ currency }})</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="o in losts"table-repeat-directive>
                            <td>{{ o.PostedDate }}</td>
                            <td>{{ o.AmazonOrderId}}</td>
                            <td>{{ o.TransactionID }}</td>
                            <td>{{ o.TransactionType }}</td>
                            <td class="td-sale">{{ o.Quantity }}</td>
                            <td class="td-sale"> {{ o.Amount }}</td>
                            <td class="td-cost"> {{ o.cost }}</td>
                            <td class="td-cost">{{ o.profit }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>  <!-- compensate table -->
    </div>
</div>