<section class="content-header">
    <h1>
        货件信息
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Advanced Elements</li>
    </ol>
</section>
<section class="content" ng-controller="ShipmentCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">移库记录
                        <a class="btn btn-primary" style="margin-left: 24px;" ui-sref="index.createShipOversea({by: 'sea'})">添加空运货件</a>
                        <a class="btn btn-primary" style="margin-left: 24px;" ui-sref="index.createShipOversea({by: 'air'})">添加海运货件</a>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="overseaTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>货件号</th>
                            <th>运送时间</th>
                            <th>总运费</th>
                            <th>总关税</th>
                            <th>操作</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="os in shipments"table-repeat-directive>
                            <td>{{ $index + 1 }}</td>
                            <td><a ui-sref="index.shipmentDetail({id: os.id})">{{ os.ShipmentId }}</a></td>
                            <td>{{ os.ship_date }}</td>
                            <td>{{ os.total_freight }}</td>
                            <td>{{ os.duty }}</td>
                            <td>
                                <a class="fa fa-trash-o text-red" title="删除该记录" ng-click="deleteShipment($index,os.id)"></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</section>