<section class="content-header">
    <h1>
        结算中心
    </h1>
</section>
<section class="content" ng-controller="settlementCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">结算记录</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="overseaTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>收入({{ currency }})</th>
                            <th>成本({{ currency }})</th>
                            <th>利润({{ currency }})</th>
                            <th>利润率</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in settlements"table-repeat-directive>
                            <td><a ui-sref="index.settlement.detail({id: s.id})">{{ s.StartDate }} - {{s.EndDate}}</a></td>
                            <td>{{ p.sales_amount}}</td>
                            <td>{{ p.total_cost }}</td>
                            <td>{{ p.profit }}</td>
                            <td>{{ p.profit_rate }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
<div ui-view></div>
</section>