<section class="content-header">
    <h1>
        结算中心
    </h1>
</section>
<section class="content" ng-controller="settlementCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">结算记录</h3>
                    <button class="btn btn-primary" ng-if="readingReport==false" ng-click="startReadingReport()">同步数据</button>
                    <button class="btn btn-primary" ng-if="readingReport"><i class="fa fa-refresh fa-spin"></i>正中同步数据，请勿关闭系统...</button>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-x: auto;">
                    <table id="overseaTable" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>日期</th>
                            <th>数量</th>
                            <th class="td-sale">商品价格({{ currency }})</th>
                            <th class="td-sale">实收({{ currency }})</th>
                            <th class="td-cost">总成本({{ currency }})</th>
                            <th class="td-cost">广告费({{ currency }})</th>
                            <th class="td-cost">仓储费({{ currency }})</th>
                            <th class="td-cost">订阅费({{ currency }})</th>
                            <th>利润({{ currency }})</th>
                            <th>利润率</th>
                            <th>操作</th>
                            <!--<th>操作</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="s in settlements"table-repeat-directive>
                            <td><a ui-sref="index.settlement.detail({settlementId: s.id})">{{ s.StartDate }} - {{s.EndDate}}</a></td>
                            <td>{{ s.quantity }}</td>
                            <td class="td-sale">{{ s.income }}</td>
                            <td class="td-sale">{{s.amount}}</td>
                            <td class="td-cost">{{s.total_cost}}</td>
                            <td class="td-cost"> {{ s.advertising_fee }}</td>
                            <td class="td-cost">{{ s.storage_fee }}</td>
                            <td class="td-cost">{{s.subscription_fee}}</td>
                            <td>{{ s.profit }}</td>
                            <td>{{ s.profit_rate }}</td>
                            <td>
                                <button ng-click="startCalculate($index, s.id)" class="btn btn-danger" ng-if="s.calc_status==1 && !isDownloading">计算失败</button>
                                <button ng-click="startCalculate($index, s.id)" class="btn btn-primary" ng-if="s.calc_status==0 && !isDownloading">重新计算</button>
                                <i class="fa fa-refresh fa-spin" ng-if="s.calc_status==10 && !isDownloading"></i>
                                <button class="btn btn-default" ng-if="!isDownloading" ng-click="download(s.id)">下载</button>
                                <button class="btn btn-default" ng-if="isDownloading"><i class="fa fa-refresh fa-spin"></i>正在生成</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
<div ui-view></div>
</section>