<style>
    dt{
        width: 110px !important;
    }
    dd{
        margin-left: 130px !important;
    }
    dt,dd{
        line-height: 2;
        font-size: 16px;
    }
</style>
<div class="row" ng-controller="settlementDetailCtrl">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">结算周期：{{ settlement.StartDate }} - {{ settlement.EndDate }}</h3>
            </div>
            <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <dl class="dl-horizontal">
                                <dt>收入({{ currency }})</dt>
                                <dd>{{ settlement.sales_amount }}</dd>
                                <dt>利润({{ currency }})</dt>
                                <dd>{{ settlement.profit }}</dd>
                                <dt>利润率</dt>
                                <dd>{{ settlement.profit_rate }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">商品列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="productsTable" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>SKU</th>
                        <th>数量</th>
                        <th>总收入({{ currency }})</th>
                        <th>销售总成本({{ currency }})</th>
                        <th>仓储费({{ currency }})</th>
                        <th>订阅费({{ currency }})</th>
                        <th>总利润({{ currency }})</th>
                        <th>利润率</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="p in products"table-repeat-directive>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ p.SellerSKU }}</td>
                        <td>{{ p.PostedDate }}</td>
                        <td>{{ p.UnitPrice }}</td>
                        <td>{{ p.Quantity}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>