html,body,body>.wrapper{
  height: 100% !important;
}
.content-wrapper{
   min-height: 100% !important;
}
.index1 {
  background-color: red;
}
.index2 {
  background-color: black;
}
.index3 {
  background-color: blue;
}
.input-horizontal{
  display: -webkit-box;
  box-sizing: border-box;
  padding-right: 0px;
}
.input-horizontal span.label-left{
  line-height: 34px;
  margin-right:6px;
}
.input-horizontal span.label-right{
  line-height: 34px;
  margin-left: 6px;
}
.input-horizontal input{
  -webkit-box-flex:1;
}
.control-label.unit{
  margin-left:-20px;
  font-weight:normal;
}

table input{
  line-height: 24px;
  border: none;
  outline: none;
}
table textarea{
  border: none;
  outline: none;
}
table .xs{
    width: 40px;
}
table .md{
  width: 75px;
}
table .lg{
  width: 110px;
}
table th{
   text-align: center;
}
table th.dark-border{
   border: #ccc 1px solid !important;
}
table tr.no-hover:hover{
  background-color: #fff !important;
}

.td-sale{
  background-color: rgba(218, 242, 242, 0.21);
}
.td-cost{
  background-color: rgba(248, 246, 205, 0.36);
}
.bootstrap-filestyle{
  /*width: 300px;*/
}
.table-lg{
  min-width: 1500px;
}
.error{
  color: red;
}
