
<section class="content-header">
    <h1>
        创建采购单
    </h1>
</section>
<section class="content" ng-controller="PurchasingOrderCreateCtrl">
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">采购单合同信息</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >合同单号</label>
                                <input type="text" class="form-control" placeholder="请输入合同单号" ng-model="contract.contract_number">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >供应商</label>
                                <input type="text" class="form-control" placeholder="请输入供应商名称" ng-model="contract.supplier">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >联系人</label>
                                <input type="text" class="form-control" placeholder="供应商联系人" ng-model="contract.contact_person">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >联系方式</label>
                                <input type="text" class="form-control" placeholder="供应商联系号码" ng-model="contract.contact_phone">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >物流说明</label>
                                <input type="text" class="form-control" placeholder="" ng-model="contract.traffic_comment">
                            </div>
                            <div class="form-group col-sm-3 col-xs-6">
                                <label >经办人</label>
                                <input type="text" class="form-control" placeholder="" ng-model="contract.operator">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">商品列表
                        <button class="btn btn-primary" ng-click="addOrderItem();">添加商品</button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body" style="overflow-y: auto;">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>SKU</th>
                            <th>数量</th>
                            <th>单价{{currency}}</th>
                            <th>交货时间</th>
                            <th>应付预付款{{currency}}</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="p in orders">
                            <td><input ng-model="p.SellerSKU"></td>
                            <td><input ng-model="p.count"></td>
                            <td><input ng-model="p.price"></td>
                            <td><input ng-model="p.expect_date" placeholder="格式：2017-01-01"></td>
                            <td><input ng-model="p.deposit" class="md"></td>
                            <td><a class="fa fa-trash-o text-red" ng-click="remove($index);" title="删除该记录？"></a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            <button ng-click="save()" class="btn btn-primary">确定</button>
        </div>
    </div>
</section>