<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
    <h4 class="modal-title">确认物流费已打款</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="box-body">
            <div class="col-sm-12">
                <h4>已打物流费({{currency}})：</h4>
                <div class="col-sm-6 col-xs-6 col-md-6 input-horizontal">
                    <input type="text" class="form-control" placeholder="请输入实际打款的物流费用" ng-model="traffic_fee_payed" required>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <!--<button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">取消</button>-->
    <button type="button" class="btn btn-primary" ng-click="submit()">保存</button>
</div>